export(bandwidthCV)
export(baranyi)
export(fitCellGrowth)
export(fitCellGrowths)
export(getRowColumn)
export(getWellIdsTecan)
export(gompertz)
export(guessCellGrowthParams)
export(logistic)
export(plot.cellGrowthFit)
export(plot.well)
export(plotPlate)
export(readGenios)
export(readYeastGrower)
export(rosso)
export(standardWellId)
export(wellDataFrame)
